:root {
  --dark: #27272e;
  --lightdark: #2f2f37;
}

[data-theme="dark"] {
  background-color: var(--dark);
  transition: 0.5s;
  color: #ffffff;
  
}

.dark [data-theme="dark"] {
  background-color: var(--lightdark);
  transition: 0.5s;
  color: #ffffff;
}
.darkHeader [data-theme="dark"] {
  background-color: var(--lightdark);
  box-shadow: 1px 1px 1px var(--lightdark);
  transition: 0.5s;
  color: #ffffff;
}
/* .darkHeader {
  box-shadow: 3px 2px 4px var(--lightdark) !important;
  transition: 0.5s;
} */
.darkMain [data-theme="dark"] {
  background-color: var(--lightdark);
  border: 0px solid var(--lightdark);
  box-shadow: 3px 2px 4px var(--lightdark);
  transition: 0.5s;
  color: #ffffff;
}
[data-theme="light"] {
  background-color: #ffffff;
  transition: 0.5s;
}
