$colorblack: black;
@mixin styletext($fonts, $fontfam) {
  font-family: $fontfam;
  font-size: $fonts;
  color: $colorblack;
}

.Header {
  &__main {
    position: relative;
    bottom: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100vw;
    box-shadow: 3px 2px 4px #e4e4e4;
  }
  &__logo {
    position: relative;
    left: 5vw;
  }
  &__theme {
    display: flex;
    position: relative;
    right: 5vw;
  }
  &__moon {
    position: relative;
    top: 1vh;
    right: 1vw;
    height: 30px;
    width: 30px;
  }
}
